/* #region Base */
body {
  margin: 0;
  margin-bottom: 10em;
  background-color: #f7f7f7;
}

h1,
h2,
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #6b6b6b;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff8d64;
  text-decoration: none;
}

.orangeText {
  color: #ff8d64;
}
/* #endregion */

/* #region Hero */
.hero {
  display: grid;
  grid-template-columns: auto;
}

.hero figure {
  margin: 0;
  display: grid;
}

.hero figure img {
  width: 100%;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.heroFig {
  background-color: white;
  max-width: 33vw;
  padding: 3.5em 10em 3.8em 3.5em;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2;
  margin-top: 28vw;
  margin-left: 4vw;
  box-shadow: #0000001a 0 0 50px 2px;
}

.heroFig h1 {
  font-size: 2.8vw;
}

.heroFig p {
  font-size: 1.2vw;
  margin-bottom: 1.5em;
}

.heroFig button {
  background-color: #ff8d64;
  color: white;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.6em 3.5em 0.8em 3.5em;
  border: none;
}

.heroFig button img {
  position: relative;
  top: 6px;
  padding-right: 7px;
  width: 25%;
}
/* #endregion */

/* #region Services */
.services {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 6em 5em 0 5em;
  gap: 2.5em;
}

.services figure {
  margin: 0;
  margin-bottom: 4em;
}

.services img {
  width: 60%;
}

.services h3 {
  font-size: 1.8vw;
}

.services p {
  font-size: 1.1vw;
}

.services a {
  font-size: 1.2vw;
  font-weight: bold;
}
/* #endregion */

/* #region Facilities */
.facilities {
  padding: 10em 5em 0 5em;
}

.facilities h2 {
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 2.3em;
}

.facilities div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3em;
}

.facilities article {
  display: flex;
  flex-direction: column;
}

.facilities figure {
  margin: 0;
  margin-bottom: 2em;
}

.facilities h3 {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}

.facilities p {
  font-size: 0.8em;
  margin-bottom: 1.7em;
}

.facilities a {
  font-weight: bold;
  margin-top: auto;
}
/* #endregion */

/* #region Sites */
.sites {
  display: grid;
  grid-template-columns: 23% calc(77% - 8em);
  padding: 10em 5em 0 5em;
  gap: 8em;
}

.sitesTitle h2 {
  font-size: 2.2em;
  margin: 0;
  margin-bottom: 0.8em;
}

.sitesTitle p {
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 2em;
}

.sitesTitle button {
  background-color: #ff8d64;
  color: white;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.4em 4em 0.8em 3.5em;
  border: none;
}

.sitesTitle button img {
  position: relative;
  top: 6px;
}

.gridSites {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2.5em;
}

.gridSites figure {
  margin: 0;
}

.gridSites img {
  height: 23em;
  width: 100%;
  object-fit: cover;
}

.gridSites h3 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 0.6em;
}

.gridSites p {
  margin: 0.5em 0;
}

.gridSites a {
  font-size: 1.05em;
}
/* #endregion */
